body {
    font-family: Verdana;
    margin: 0;
    padding: 0;
    font-size: 2vh;
    background-color: white;
    color: black;
}


button {
    font-family: 'cookies', Verdana;
    background-color: transparent; /* fondo transparente */
    border: transparent; /* borde transparente */
    cursor: pointer; /* para que se ponga el cursor de ratón encima de los botones */
    background-color: transparent;
    color: white;
}

* {
    box-sizing: border-box;
}
nav {
    top: 0;
    margin: 0;
    padding: 0;
}

/*fuentes*/
@font-face {
    font-family: 'Spiny Lobster';
    src: url(../fonts/SpinyLobster.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cookies';
    src: url(../fonts/Cookies\ Magis.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CareAround';
    src: url(../fonts/CareAround.otf);
    font-weight: normal;
    font-style: normal;
}


/*navegador principal*/
.main-menu {
    padding-top: 0;
    margin-top: 0;
    padding: 1vh 0;
    width: auto;
    height: auto;
    background-color: #CBDFBD;
    display: flex; 
    justify-content: space-between; /* para la derecha*/
    align-items: center;
    list-style-type: none;
    flex-direction: row;
}

.main-menu_item {
    margin: 0.5vw 0;
    float: left;
    display: flex;
    padding-right: 3vw;
    padding-left: 2vw;
    align-items: center;
    height: 5vh; /*que vaya variando la height y eso*/
    transition: all 0.3s ease; /* transición */                
}

.casa{
    width: 2vw;
    height: auto;
}

.main-menu_link {
    font-family: 'Spiny Lobster', Verdana;
    display: flex;
    font-size: 1.1vw;
    color: #737E6B;
    background-color: transparent;
    align-items: center;        
    justify-content: center;        
    transition: all 0.3s ease;
}

/*MAIN MENU RESPONSIVE*/
/*TABLET*/
@media screen and (max-width: 900px) {
    .main-menu_link {
        font-size: 2vw;
        padding: 0 1vw;
    }
    .casa {
        width: 3vw;
    }
}

/*MOVIL*/
@media screen and (max-width: 500px) {
    .main-menu_link {
        font-size: 4vw;
        padding: 0 1vw;
    }
    .casa {
        width: 5vw;
    }
}


/*CALENDARIO*/
.contenedor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.calendario{
    background-image: url(../images/calendario\ de\ adviento.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Definimos un estilo base para todas las casillas de números */
.numeros .numero {
    width: 100%; /* Para que se adapten a su contenedor */
    height: 11.3vh; /* Altura uniforme para todas las casillas */
    cursor: pointer;
}

.numeros {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 6 columnas en cada fila */
    grid-template-rows: repeat(6, 11.3vh); /* 5 filas */
    width: 60vw; /* Ajustar el ancho según el tamaño de la imagen */
    height: 50vw; /* Ajustar la altura para que se vea similar a la imagen */
}

.numero {
    cursor: pointer;
}

/*ESTILOS PARA TODOS LOS NUMEROS*/
#numero1{
    background-color: #4D5447;
    grid-column: 1; 
    grid-row: 1; 
    width: 85%;
    height: 100%;
    margin-top: 0;
    margin-left: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#numero1 p{
    font-family: 'CareAround', Verdana;
    font-size: 3vw;

}

#numero2{
    background-color: #4D5447;
    grid-column: 2; 
    grid-row: 1; 
    width: 41%;
    height: 100%;
    margin-top: 0;
    margin-left: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#numero2 p{
    font-family: 'CareAround', Verdana;
    font-size: 3vw;

}

#numero3{
    background-color: #4D5447;
    grid-column: 3; 
    grid-row: 1; 
    width: 60%;
    height: 100%;
    margin-top: 0;
    margin-left: -63%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#numero3 p{
    font-family: 'CareAround', Verdana;
    font-size: 3vw;

}

#numero4{
    background-color: #4D5447;
    grid-column: 4; 
    grid-row: 1; 
    width: 120%;
    height: 100%;
    margin-top: 0;
    margin-left: -84%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#numero4 p{
    font-family: 'CareAround', Verdana;
    font-size: 3vw;
    margin-left: 4vw;

}

#numero5{
    background-color: #4D5447;
    grid-column: 5; 
    grid-row: 1; 
    width: 510%;
    height: 100%;
    margin-top: 0;
    margin-left: -520%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#numero5 p{
    font-family: 'CareAround', Verdana;
    font-size: 3vw;
    margin-bottom: 2vw;
}

#numero6{
    background-color: #4D5447;
    grid-column: 1; 
    grid-row: 2; 
    width: 12.3vw;
    height: 7.5vw;
    margin-top: 2.1vh;
    margin-left: 1.7vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#numero6 p{
    font-family: 'CareAround', Verdana;
    font-size: 2.5vw;
    margin-right: 1vw;
    margin-bottom: 4vw;

}

#numero7{
    background-color: #4D5447;
    grid-column: 2; 
    grid-row: 2; 
    width: 11.9vw;
    height: 7.5vw;
    margin-top: 2.1vh;
    margin-left: 1.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#numero7 p{
    font-family: 'CareAround', Verdana;
    font-size: 3vw;
}


#numero8{
    background-color: #4D5447;
    grid-column: 3; 
    grid-row: 2; 
    width: 12.3vw;
    height: 7.5vw;
    margin-top: 2.1vh;
    margin-left: -3.7vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#numero8 p{
    font-family: 'CareAround', Verdana;
    font-size: 3vw;
    margin-right: 1vw;
    margin-top: 0;
}

#numero9{
    background-color: #4D5447;
    grid-column: 5; 
    grid-row: 2; 
    width: 17.1vw;
    height: 7.5vw;
    margin-top: 2.1vh;
    margin-left: -17vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#numero9 p{
    font-family: 'CareAround', Verdana;
    font-size: 3vw;
    margin-left: 10vw;
}

#numero10{
    background-color: #4D5447;
    grid-column: 1; 
    grid-row: 3/4; 
    width: 13vw;
    height: 14.7vw;
    margin-top: 7.3vh;
    margin-left: 1.2vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#numero10 p{
    font-family: 'CareAround', Verdana;
    font-size: 3vw;
    margin-top: 2vh;
    margin-left: 8vw;
}

#numero11{
    background-color: #4D5447;
    grid-column: 2/3; 
    grid-row: 3/4; 
    width: 16.9vw;
    height: 6.9vw;
    margin-top: 7.2vh;
    margin-left: 1.2vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#numero11 p{
    font-family: 'CareAround', Verdana;
    font-size: 3vw;
    margin-left: 2vw;
}

#numero12{
    background-color: #4D5447;
    grid-column: 2/3; 
    grid-row: 4; 
    width: 16.9vw;
    height: 7vw;
    margin-top: 12.2vh;
    margin-left: 1.2vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#numero12 p{
    font-family: 'CareAround', Verdana;
    font-size: 3vw;
    margin-right: 2vw;
}

#numero13{
    background-color: #4D5447;
    grid-column: 3; 
    grid-row: 3; 
    width: 7.7vw;
    height: 10.2vw;
    margin-top: 7.2vh;
    margin-left: 1.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#numero13 p{
    font-family: 'CareAround', Verdana;
    font-size: 3vw;
}


#numero14{
    background-color: #4D5447;
    grid-column: 4; 
    grid-row: 3; 
    width: 7.7vw;
    height: 10.2vw;
    margin-top: 7.2vh;
    margin-left: -2.2vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

#numero14 p{
    font-family: 'CareAround', Verdana;
    font-size: 3vw;
    margin-top: 1vh;
    margin-right: 1vw;
}

#numero15{
    background-color: #4D5447;
    grid-column: 5; 
    grid-row: 3; 
    width: 7.7vw;
    height: 10.2vw;
    margin-top: 7.2vh;
    margin-left: -7.6vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#numero15 p{
    font-family: 'CareAround', Verdana;
    font-size: 3vw;
}

#numero16{
    background-color: #4D5447;
    grid-column: 1; 
    grid-row: 5; 
    width: 12.3vw;
    height: 7.4vw;
    margin-top: 16.3vh;
    margin-left: 1.7vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#numero16 p{
    font-family: 'CareAround', Verdana;
    font-size: 3vw;
    margin-left: 6.5vw;
}


#numero17{
    background-color: #4D5447;
    grid-column: 2; 
    grid-row: 5; 
    width: 17vw;
    height: 7.5vw;
    margin-top: 16.3vh;
    margin-left: 1.1vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#numero17 p{
    font-family: 'CareAround', Verdana;
    font-size: 3vw;
    margin-right: 2vw;
}

#numero18{
    background-color: #4D5447;
    grid-column: 3; 
    grid-row: 5; 
    width: 11.2vw;
    height: 7vw;
    margin-top: 6.4vh;
    margin-left: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#numero18 p{
    font-family: 'CareAround', Verdana;
    font-size: 3vw;
}

#numero19{
    background-color: #4D5447;
    grid-column: 4; 
    grid-row: 5; 
    width: 12.4vw;
    height: 7vw;
    margin-top: 6.4vh;
    margin-left: 1.7vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#numero19 p{
    font-family: 'CareAround', Verdana;
    font-size: 3vw;
}


#numero20{
    background-color: #4D5447;
    grid-column: 1; 
    grid-row: 6; 
    width: 12.3vw;
    height: 9.5vw;
    margin-top: 21.8vh;
    margin-left: 1.7vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

#numero20 p{
    font-family: 'CareAround', Verdana;
    font-size: 2vw;
    margin-top: 0.75vw;
    margin-right: 1vw;
}


#numero21{
    background-color: #4D5447;
    grid-column: 2; 
    grid-row: 6; 
    width: 7.7vw;
    height: 9.5vw;
    margin-top: 21.8vh;
    margin-left: 1.1vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

#numero21 p{
    font-family: 'CareAround', Verdana;
    font-size: 3vw;
    margin-top: 1vh;
    margin-right: 1vw;
}

#numero22{
    background-color: #4D5447;
    grid-column: 3; 
    grid-row: 6; 
    width: 7.7vw;
    height: 9.5vw;
    margin-top: 21.8vh;
    margin-left: -7.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#numero22 p{
    font-family: 'CareAround', Verdana;
    font-size: 3vw;
}


#numero23{
    background-color: #4D5447;
    grid-column: 3; 
    grid-row: 5; 
    width: 8.5vw;
    height: 8.4vw;
    margin-top: 21.5vh;
    margin-left: 1.6vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#numero23 p{
    font-family: 'CareAround', Verdana;
    font-size: 3vw;
    margin-top: 10vh;
}


#numero24{
    background-color: #4D5447;
    grid-column: 3; 
    grid-row: 6; 
    width: 8.5vw;
    height: 6.2vw;
    margin-top: 27.8vh;
    margin-left: 1.6vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#numero24 p{
    font-family: 'CareAround', Verdana;
    font-size: 3vw;
    margin-top: 9vh;
    margin-right: 0.5vw;
}


#numero25{
    background-color: #4D5447;
    grid-column: 4; 
    grid-row: 6; 
    width: 14.9vw;
    height: 15.2vw;
    margin-top: 10.5vh;
    margin-left: -1.5vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#numero25 p{
    font-family: 'CareAround', Verdana;
    font-size: 4vw;
    margin-bottom: -4.5vw;
    margin-right: -0.5vw;
}


.texto{
    width: 30vw;
    margin-right: 3vw;
}

.texto p{
    font-family: 'CareAround', Verdana;
    font-size: 3vw;
    margin-right: 2vw;
}

/*POPUPS*/
/* Contenedor global de los popups */
.gift-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    backdrop-filter: blur(5px);
    padding-top: 60px;
}

/* Contenido del popup */
.gift-popup-content {
    background-color: #E5EFDE;
    margin: 5% auto 15% auto;
    width: 30%;
    border-radius: 2vw;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: animatezoom 0.6s;
}

/* Botones de cerrar */
.gift-otherbtn {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 1.5vw;
    padding-top: 1.5vh;
}

.gift-closebtn {
    width: 1.5vw;
    height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.gift-closebtn:hover {
    opacity: 0.8;
}

/* Título del popup */
h4 {
    font-size: 6vh;
    font-family: 'Spiny Lobster', Verdana;
    padding-top: 10vh;
    padding-bottom: 6vh;
    margin: 0;
    display: flex;
    justify-content: center;
    color: #4D5447; /* Mismo color del texto de navegación */
}

/* Contenedor del formulario del popup */
.gift-container {
    padding: 2vw;
    text-align: center;
}

/* Mensajes dentro del popup */
.gift-message {
    font-family: 'CareAround', Verdana;
    font-size: 2.5vh;
    color: #737E6B;
    margin-bottom: 3vh;
}

/* Botones dentro del popup */
.gift-button-container {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.gift-main-button {
    background-color: #606959;
    font-size: 2vh;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 2vh 5vw;
    border-radius: 10vw;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    margin: 5vh 0;
}

.gift-main-button:hover {
    background-color: #4D5447;
    opacity: 0.8;
}

img{
    width: 20vw;
  }

/* Animación para mostrar el popup */
@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/*RESPONSIVE*/
/*TABLET*/
@media screen and (max-width: 800px){
    #numero6{
        margin-top: -3vh;
    }
    #numero7{
        margin-top: -3vh;
    }
    #numero8{
        margin-top: -3vh;
    }
    #numero9{
        margin-top: -3vh;
    }
    #numero10{
        margin-top: -4.5vh;
    }
    #numero11{
        margin-top: -4.5vh;
    }
    #numero12{
        margin-top: -6vh;
    }
    #numero13{
        margin-top: -4.5vh;
    }
    #numero14{
        margin-top: -4.5vh;
    }
    #numero15{
        margin-top: -4.5vh;
    }
    #numero16{
        margin-top: -8vh;
    }
    #numero17{
        margin-top: -8vh;
    }
    #numero18{
        margin-top: -14vh;
    }
    #numero19{
        margin-top: -14vh;
    }
    #numero20{
        margin-top: -9.5vh;
    }
    #numero21{
        margin-top: -9.5vh;
    }
    #numero22{
        margin-top: -9.5vh;
    }
    #numero23{
        margin-top: -5vh;
    }
    #numero24{
        margin-top: -6vh;
    }
    #numero25{
        margin-top: -16vh;
    }
}

/*MOVIL*/
@media screen and (max-width: 480px) {

    .contenedor {
    flex-direction: column;
    }

    .texto p{
        font-size: 3vh;
        margin-bottom: 10vh;
        width: 40vw;
    }

    .calendario{
        width: 80vw;
        height: 80vw;
    }

    #numero1{
        width: 16.8vw;
        height: 10.2vw;
        margin-top: 1vh;
        margin-left: 0;
    }
    #numero2{
        width: 10.5vw;
        height: 10.2vw;
        margin-top: 1vh;
        margin-left: 2.3vw;
    }
    #numero3{
        width: 10.5vw;
        height: 10.2vw;
        margin-top: 1vh;
        margin-left: -11vw;
    }
    #numero4{
        width: 24vw;
        height: 10.2vw;
        margin-top: 1vh;
        margin-left: -16.6vw;
    }
    #numero5{
        width: 9vw;
        height: 10.2vw;
        margin-top: 1vh;
        margin-left: -8.8vw;
    }
    #numero6{
        width: 17vw;
        height: 10vw;
        margin-top: -1.3vh;
        margin-left: -0.1vw;
    }
    #numero7{
        width: 17vw;
        height: 10vw;
        margin-top: -1.3vh;
        margin-left: 1.8vw;
    }
    #numero8{
        width: 18vw;
        height: 10vw;
        margin-top: -1.3vh;
        margin-left: -5vw;
    }
    #numero9{
        width: 22vw;
        height: 10vw;
        margin-top: -1.3vh;
        margin-left: -22.5vw;
    }
    #numero10{
        width: 17vw;
        height: 21vw;
        margin-top: -4vh;
        margin-left: 0;
    }
    #numero11{
        width: 24vw;
        height: 9.8vw;
        margin-top: -4vh;
        margin-left: 2vw;
    }
    #numero12{
        width: 24vw;
        height: 9.8vw;
        margin-top: -6.5vh;
        margin-left: 2vw;
    }
    #numero13{
        width: 11.2vw;
        height: 14.2vw;
        margin-top: -4vh;
        margin-left: 2.5vw;
    }
    #numero14{
        width: 11.2vw;
        height: 14.2vw;
        margin-top: -4vh;
        margin-left: -3vw;
    }
    #numero15{
        width: 9.2vw;
        height: 14.2vw;
        margin-top: -4vh;
        margin-left: -9.5vw;
    }
    #numero16{
        width: 16.6vw;
        height: 10.7vw;
        margin-top: -10vh;
        margin-left: 0vw;
    }
    #numero17{
        width: 24vw;
        height: 10.7vw;
        margin-top: -10vh;
        margin-left: 2vw;
    }
    #numero18{
        width: 15.7vw;
        height: 10vw;
        margin-top: -15.3vh;
        margin-left: 2.8vw;
    }
    #numero19{
        width: 15.7vw;
        height: 10vw;
        margin-top: -15.3vh;
        margin-left: 3vw;
    }
    #numero20{
        width: 16.6vw;
        height: 15.2vw;
        margin-top: -12.5vh;
        margin-left: 0vw;
    }
    #numero21{
        width: 10.5vw;
        height: 15.2vw;
        margin-top: -12.5vh;
        margin-left: 2vw;
    }
    #numero22{
        width: 10.5vw;
        height: 15.2vw;
        margin-top: -12.5vh;
        margin-left: -10.3vw;
    }
    #numero23{
        width: 12vw;
        height: 11.6vw;
        margin-top: -7vh;
        margin-left: 3vw;
    }
    #numero23 p{
        margin-bottom: 7vw;
    }
    #numero24{
        width: 11.5vw;
        height: 11.2vw;
        margin-top: -9.3vh;
        margin-left: 3vw;
    }
    #numero24 p{
        margin-bottom: 7vw;
    }
    #numero25{
        width: 19.3vw;
        height: 23.6vw;
        margin-top: -18.3vh;
        margin-left: -2.6vw;
    }
}