body {
    font-family: Verdana;
    margin: 0;
    padding: 0;
    color: black;
}

* {
    box-sizing: border-box;
}
nav {
    top: 0;
    margin: 0;
    padding: 0;
}

/*fuentes*/
@font-face {
    font-family: 'Spiny Lobster';
    src: url(../fonts/SpinyLobster.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cookies';
    src: url(../fonts/Cookies\ Magis.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CareAround';
    src: url(../fonts/CareAround.otf);
    font-weight: normal;
    font-style: normal;
}


/*navegador principal*/
.main-menu {
    padding-top: 0;
    margin-top: 0;
    padding: 1vh 0;
    width: auto;
    height: auto;
    background-color: #CBDFBD;
    display: flex; 
    justify-content: space-between; /* para la derecha*/
    align-items: center;
    list-style-type: none;
    flex-direction: row;
}

.main-menu_item {
    margin: 0.5vw 0;
    float: left;
    display: flex;
    padding-right: 3vw;
    padding-left: 2vw;
    align-items: center;
    height: 5vh; /*que vaya variando la height y eso*/
    transition: all 0.3s ease; /* transición */                
}

.casa{
    width: 2vw;
    height: auto;
}

.main-menu_link {
    font-family: 'Spiny Lobster', Verdana;
    display: flex;
    font-size: 1.1vw;
    color: #737E6B;
    background-color: transparent;
    align-items: center;        
    justify-content: center;        
    transition: all 0.3s ease;
}


.elfo-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 10vh;
    margin-top: 20vh;
    height: 30vw;
}

.elfo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 20vw;
    margin-right: 10vw;
    top: 0;
}

#elfo-piel {
    position: relative;
    z-index: 0;
    width: 15vw;
    height: auto;
    padding-right: 2vw;
}

/*COSAS DE EL ELFO*/
/* Posicionamiento para cada parte */
#elfo-piel{
    margin-top: 4vh;
    bottom: 0;
}

#elfo-ojos {
    position: absolute;
    z-index: 1;
    top: 30%; /* Ajusta según la posición de los ojos */
    left: 30%; /* Ajusta para centrar en el rostro */
    width: 30%; /* Tamaño de los ojos */
}

#elfo-pecas {
    position: absolute;
    z-index: 1;
    top: 34%; /* Ajusta según las mejillas */
    left: 25%;
    width: 40%;
}

#elfo-nariz{
    position: absolute;
    z-index: 2;
    top: 38%; /* Ajusta según la posición de los accesorios */
    left: 44.5%; /* Ajusta para centrar */
    width: 2.5%;
}

#elfo-boca {
    position: absolute;
    z-index: 2;
    top: 43%; /* Ajusta para la posición de la boca */
    left: 41%; /* Ajusta para centrar */
    width: 10%;
}

#elfo-pelo {
    position: absolute;
    z-index: 2;
    top: 0; /* Ajusta para la posición del pelo */
    left: 10%; /* Ajusta según la cabeza */
    width: 70%;
}

#elfo-camiseta {
    position: absolute;
    z-index: 2;
    top: 53%;
    left: 23.5%;
    width: 43%;
}

#elfo-pantalon {
    position: absolute;
    z-index: 1;   
    top: 72%;
    left: 32.5%;
    width: 25.5%;
}

#elfo-gafas {
    position: absolute;
    z-index: 3;
    top: 25%;
    left: 25%;
    width: 40%;
}

#elfo-gorro {
    position: absolute;
    z-index: 3;
    top: 2%;
    left: 21%;
    width: 55%;
}


.botones {
    display: flex;
    align-items: center;
}

.botones-columna{
    position: absolute;
    display: flex;
    gap: 1vw;
    top: 0;
    flex-direction: column;
}
.botones-fila{
    position: absolute;
    top: 24vw;
    display: flex;
    gap: 1vw;
    left: 1vw;

}
.elfo-button {
    background: none;
    border: 1vh solid #A8B99C;
    border-radius: 2vw;
    padding: 0.5vw;
    width: 7vw;
    height: 7vw;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.elfo-button:hover {
    transform: scale(1.1);
}

.elfo-button-img {
    width: auto;
    height: 5vh;
}

.instrucciones {
    width: 30vw;
    height: 31vw;
    font-family: Verdana;
    text-align: center;
    font-size: 3vh;
    display: grid;
    position: relative;

}
.instrucciones h2{
    font-family: 'Spiny Lobster', Verdana;
    font-size: 4vh;
}

.instrucciones-boton{
    align-self: end;

}

.guardar-boton {
    font-family: 'Cookies', Verdana;
    background-color: #99A88E;
    font-size: 2vh;
    color: white;
    border: none;
    cursor: pointer;
    padding: 4.5vh 7vw;
    border-radius: 10vw;
    margin: 5vh 0 0 0;
}

.guardar-boton:hover {
    background-color: #5F6958;
}

/* Popup de estilos (oculto inicialmente) */
.estilos-popup {
    display: none; /* Oculto por defecto */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 24vw;
    background-color: #E5EFDE;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    overflow: scroll;

}

/* Grid de estilos dentro del popup */
.estilos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px; /* Espaciado entre las opciones */
    justify-items: center;
    align-items: center;
}

/* Botones de los estilos */
.estilo-item {
    background-color: #FFFFFF;
    border: 1vh solid #A8B99C;
    border-radius: 2vw;
    padding: 0.5vw;
    width: 7vw;
    height: 7vw;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.estilo-item img {
    width: 5vw;
    height: 5vw;
    padding: 0.5vh;
}


/* Mostrar el popup */
.estilos-popup.visible {
    display: block;
}
