body {
    font-family: Verdana;
    margin: 0;
    padding: 0;
    font-size: 2vh;
    background-color: #F2F7EF;
    color: black;
}


* {
    box-sizing: border-box;
}

/*fuentes*/
@font-face {
    font-family: 'Spiny Lobster';
    src: url(../fonts/SpinyLobster.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cookies';
    src: url(../fonts/Cookies\ Magis.otf);
    font-weight: normal;
    font-style: normal;
}

/*navegador principal*/
.main-menu {
    padding-top: 0;
    margin-top: 0;
    padding: 1vh 0;
    width: auto;
    height: auto;
    background-color: #CBDFBD;
    display: flex; 
    justify-content: space-between; /* para la derecha*/
    align-items: center;
    list-style-type: none;
    flex-direction: row;
}

.main-menu_item {
    margin: 0.5vw 0;
    float: left;
    display: flex;
    padding-right: 3vw;
    padding-left: 2vw;
    align-items: center;
    height: 5vh; /*que vaya variando la height y eso*/
    transition: all 0.3s ease; /* transición */                
}

.casa{
    width: 2vw;
    height: auto;
}

.main-menu_link {
    font-family: 'Spiny Lobster', Verdana;
    display: flex;
    font-size: 1.1vw;
    color: #737E6B;
    background-color: transparent;
    align-items: center;        
    justify-content: center;        
    transition: all 0.3s ease;
}

/*MAIN MENU RESPONSIVE*/
/*TABLET*/
@media screen and (max-width: 900px) {
    .main-menu_link {
        font-size: 2vw;
        padding: 0 1vw;
    }
    .casa {
        width: 3vw;
    }
}

/*MOVIL*/
@media screen and (max-width: 500px) {
    .main-menu_link {
        font-size: 4vw;
        padding: 0 1vw;
    }
    .casa {
        width: 5vw;
    }
}



/*DESKTOP*/
#envia {
    background-color: #F2F7EF;
    background-image: url(../images/formulario.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left; /*que se ponga la florecita a la izquierda*/
    
}

h2{
    font-size: 8vh;
    font-family: 'Spiny Lobster', Verdana; /*fuente instalada y si no funciona verdana*/
    padding-top: 10vh;  
    padding-bottom: 5vh;
    padding-left: 20%;
    margin: 0;
    color: black;
    display: flex;
    justify-content: center;

}

.forms{
    font-family: 'Cookies', Verdana;
    font-size: 1.5vw;
}

/* contenedor del formulario */
form {
    max-width: 800px;
    margin: auto;
    margin-left: 40%;
}

/*las filas de nombre, email y ciudad, pais*/
.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    
}

/*cada una de los fomularios (nombre, email, ciudad y pais)*/
.row .column-half {
    flex: 1; /*pa que ocupe lo mismo*/
    padding: 10px;
    padding-right: 3vw;    
    
}

/*el input donde escriben los usuarios su cartita*/
input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

/*el pedazo de tocho para escribir la carta*/
.row-full {
    justify-content: center; 
    flex-direction: column;
    padding: 10px;
    padding-right: 3vw;
    display: flex;
}

/*boton de enviar*/
.enviar {
    font-family: 'Spiny Lobster', Verdana;
    width: 8vw;
    font-size: 1vw;
    color: white;
    background-color: #606959;
    border-radius: 25px;
    margin-top: 3vh;
    margin-bottom: 10vh;
    padding: 2% 5%;
    align-self: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 1s ease;
}

input[type=submit]:hover {
    background-color: #4D5447;
}

/* Responsive!!!! :)*/
/*TABLET*/
@media screen and (max-width: 900px) {
    #envia{
        background-image: none;
    }

    h2{
        font-size: 7vw;
        padding-top: 10vh;
        padding-left: 0;
    }

    form{
        margin: 0 8%;
        margin-top: 0;

    }

    .forms{
        font-size: 2.5vw;
    }
    
    .enviar {
        font-size: 2vw;
        margin-top: 3vw;
        width: 15vw;
        padding: 1.5vh 0;
    }
}

/*MOVIL*/
@media (max-width: 500px) {
    h2{
        font-size: 10vw;
        padding-top: 10vh;
        padding-left: 0;
    }
    form{
        margin: 0 10vw;
    }

    .forms{
        font-size: 4vw;
    }
    .row {
        flex-direction: column;
    }

    .column-half {
        width: 100%;
    }

    .enviar {
        font-size: 4vw;
        margin-top: 5vh;
        width: 50%;
        padding: 2vh 0;
    }
}
