.footer {
    width: 100%;
    background-color: #F2F7EF;
    padding: 0.5rem 1rem;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
    margin-top: auto;
}

.iconos-redes {
    display: flex;
    justify-content: center;
    gap: 3vw; /* Espaciado entre íconos */
}

.enlace-icono {
    list-style: none; /* Quitamos el formato */
}

.icono img {
    width: 2vw; /* Escala automática en pantallas grandes */
    max-width: 50px; /* Límite superior para íconos en pantallas grandes */
    min-width: 25px; /* Límite inferior para íconos */
}

/* RESPONSIVE */
@media screen and (max-width: 500px) {
    .icono img {
        width: 15vw; /* Aumentar tamaño proporcional a la pantalla */
    }
}

.icono {
    display: flex;
    transition: 0.5s;
}

.icono:hover {
    transform: translateY(-5px); /* Movimiento hacia arriba */
}

.derechos-autor {
    color: black;
    text-align: center;
    margin-left: 35px;
}
