.footer{
    width: 100%;
    background-color: #F2F7EF;
    padding-top: 1rem;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Sombra para separación visual */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconos-redes{
    display: flex;
    justify-content: center;
}

.enlace-icono{
    list-style: none; /*Quitamos el formato para que quede visualmente mas limpio*/
    margin: 0 20px; /*Es la distancia que existe entre los iconos*/
}


.icono img {
    width: 3vw; 
}

.icono {
    display: flex;
    transition: 0.5s;
}


.icono:hover{
    transform: translateY(-5px) /*Consultado en w3schools css 2d transforms y chatGPT, genera el movimiento hacia arriba al pasar el curso y es unicamente visual*/
}


.derechos-autor{
    color: black;
    text-align: center;
    margin-top:15px;
    margin-bottom: 15px;
    margin-left: 30px;
}

/*RESPONSIVE*/
@media screen and (max-width: 500px) {
    .icono img {
        width: 5vw;
    }
}