body {
    font-family: Verdana;
    margin: 0;
    padding: 0;
    font-size: 2vh;
    background-color: white;
    color: black;
}

button {
    font-family: 'cookies', Verdana;
    background-color: transparent; /* fondo transparente */
    border: transparent; /* borde transparente */
    cursor: pointer; /* para que se ponga el cursor de ratón encima de los botones */
    background-color: transparent;
    color: white;
}

h4{
    font-size: 6vh;
    font-family: 'Spiny Lobster', Verdana; /*fuente instalada y si no funciona verdana*/
    padding-top: 10vh;  
    padding-bottom: 6vh;
    margin: 0;
    display: flex;
    justify-content: center;
}


* {
    box-sizing: border-box;
}


/*fuentes*/
@font-face {
    font-family: 'Spiny Lobster';
    src: url(../fonts/SpinyLobster.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cookies';
    src: url(../fonts/Cookies\ Magis.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CareAround';
    src: url(../fonts/CareAround.otf);
    font-weight: normal;
    font-style: normal;
}


/* Ajustes del menú hamburguesa */
.menuhamb{
    width: 5vw;
    margin-top: 2vh
}
.toggle-menu {
    width: 30px;
    position: fixed; /*para que no se mueva en la pantalla*/
    margin-left: 20px;
    top: 10px;
    z-index: 2; /* asegúrate de que esté encima del resto del contenido */
}

.toggle-menu__checkbox {
    display: none; /* Oculta el checkbox */
}

.toggle-menu__checkbox:checked + #main-menu {
    transform: translateY(0); /* cuando se pulsa el checkbox el menú sale */
}

/* Menú principal en móvil */
.main-menu {
    list-style: none;
    margin-top: 0;
    padding:  0 0 0;
    display: flex;
    flex-direction: column; /* columna */
    background-color: #CBDFBD;
    align-items: center;
    position: fixed; /* para que no se mueva */
    width: 30%; /* ancho del nav (ajusta si es necesario) */
    height: 100vh; /* alto del nav que ocupe la página entera */
    top: 0;
    right: 0;
    transform: translateX(100%); /* oculta el menú desplazándolo hacia la derecha */
    transition: transform 0.3s ease; /* transición para que se vea suave */
    z-index: 1;
}

/* Mostrar el menú cuando se selecciona el checkbox */
.toggle-menu__checkbox:checked + #main-menu {
    transform: translateX(0); /* despliega el menú desde la derecha */
}

/*los items del menu*/
.main-menu_item{
    padding: 20px 0;
    background-color: transparent;
    transition: all 0.3s ease; /* transición */    
}

img.calendario{
    align-self: flex-start;
    height: 10vw;
    width: auto;
}


/*los links de referencia de las páginas*/
.main-menu_link{
    font-family: 'cookies', Verdana;
    color: black;
    font-size: 2vh;
    text-decoration: none;
    text-align: center; 
    display: block;
}


.main-menu_item {
    position: relative; /* Posiciona cada <li> como relativo para que el dropdown sea relativo a este */
    margin: 0.5vw 0;
    display: inline-block; 
    padding: 10px 20px;
    height: 5vh;
}


/*botones de inicio de sesion y registro*/
.main-menu_item button {
    color: white;
    padding: 1vw 4vw;
    border-radius: 10vw;
    height: 5vh; /* igual que los enlaces */
    background-color: #737E6B;
    transition: all 0.3s ease; /*transicion guapisima para que se hagan mas grandes las letras*/ 
    display: flex; /* flexbox para centrar el contenido */
    align-items: center; /* centra verticalmente */
    justify-content: center; /* centra horizontalmente */
}

.main-menu_item button:hover{
    text-decoration: none; /*para que a los botones no les salga el underline*/
    background-color: #5F6958;
} 


.toggle-menu__checkbox {
    display: none; /*para que no salga el checkbox este del menu*/
}

.toggle-menu__checkbox:checked + .main-menu{
    transform: translateY(0); /*aqui cuando se pulsa al checkbox el menu sale*/

}

.main-menu_link:hover .dropdown-icon-left {
    opacity: 1; /* Mostrar el ícono suavemente al hacer hover */
}

li.main-division.links{
    height: 100vh;
}

#perfil-img {
    display: flex;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 65vh;
    justify-content: center;
    position: relative;
}

#perfil-imagen {
    width: 10vw;
    height: 10vw;
    border-radius: 100%;
    align-self: center;
}

#dropdown-menu-perfil {
    top: -15vh;
    right: 0;
}

#dropdown-menu-perfil.show {
    display: block;
    opacity: 1;
}


.dropdown-icon-left {
    opacity: 0; /* Ocultar ícono inicialmente */
    margin-right: 2vw; /* Espacio entre el texto y el ícono */
    width: 1.5vw;
    transition: opacity 1s ease; /* Transición suave para mostrar el ícono */
}

.dropdown-icon{
    display: none;
}

.dropdown-content {
    position: absolute; 
    right: 97%; 
    top: 0; 
    width: 100%; 
    height: auto;
    background-color: #CBDFBD;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 2;
    transform: translateX(-20px); /* Agrega una animación para la entrada */
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Mostrar Dropdown hacia la derecha */
.dropdown-content.show {
    display: block;
    transform: translateX(0); /* Aparece en su posición */
    opacity: 1;
}

/* Ajuste de los enlaces dentro del dropdown */
.dropdown-content a {
    display: block;
    font-size: 1.5vh;
    padding: 10px;
    text-decoration: none;
    color: black;
    text-align: left;
    transition: all 0.3s ease;
}

.dropdown-content a:hover {
    color: white;
    background-color: #606959;
}

/* Ajustar el enlace principal del menú */
.main-menu_link {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Mantén espacio entre texto e ícono */
    width: 100%;
}

li.main-division{
    padding-bottom: 5vh;
}


/*DESKTOP Y TABLET*/
@media screen and (min-width: 800px){
    .toggle-menu{
        display: none; /*renito fuera*/

    }

    /*barra de Navegación*/
    nav {
        position: sticky; /*posicion para que solo se quede la barra en la primera página*/
        top: 0;
    }

    li.main-division{
        padding-bottom: 0;
    }

    .main-menu {
        padding: 0;
        padding: 1vh 0;
        width: auto;
        height: auto;
        background-color: #CBDFBD;
        display: flex; 
        justify-content: space-between; /* para la derecha*/
        align-items: center;
        list-style-type: none;
        position: sticky;
        top: 0;
        flex-direction: row;
        transform: translateY(0); /*esto es para que el menu de antes no se vea jeje*/
        transition: transform 0.3s ease; /*transicion para que se vea guay*/
    
    }

    .calendario-item {
        left: 0;
        align-self: flex-start; /* Esto alinea el ícono del calendario al inicio */
        margin-left: 20px; /* Ajusta el espacio si necesitas */
    }

    img.calendario{
        align-self: flex-start;
        width: 2vw;
        height: auto;
    }

    .main-menu_item {
        margin: 0.5vw 0;
        float: left;
        display: flex;
        padding: 1vh 3vw;
        align-items: center;
        height: 5vh; /*que vaya variando la height y eso*/
        transition: all 0.3s ease; /* transición */                
    }

    .main-menu_link {
        font-family: 'Spiny Lobster', Verdana;
        display: flex;
        cursor: pointer;
        font-size: 1.5vw;
        color: #4D5447;
        background-color: transparent;
        align-items: center;        
        justify-content: center;        
        transition: all 0.3s ease;
    }

    li.main-division.links{
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    /* transicion tope guapa que sale debajo una linea*/
    #link1::after, #link2::after, #link3::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 0.2vh;
        background-color: #606959;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.7s ease;
    }

    #link1:hover::after, #link2:hover::after, #link3:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }

    .main-menu_link:hover .dropdown-icon {
        opacity: 1; /* Mostrar el ícono suavemente al hacer hover */
    }

    .dropdown-icon {
        display: block;
        opacity: 0; /* Ocultar ícono inicialmente */
        margin-left: 1vw; /* Espacio entre el texto y el ícono */
        width: 1vw;
        transition: opacity 1s ease; /* Transición suave para mostrar el ícono */
    }

    #login-button, #register-button{
        padding: 1vh 1vw;
    }

    #perfil-img {
        display: flex;
        margin-left: 2vw;
        margin-right: 2vw;
        margin-top: 0;
        justify-content: center;
        position: relative;
    }

    #perfil-imagen {
        width: 3vw;
        height: 3vw;
        border-radius: 100%;
        align-self: center;
    }

    #dropdown-menu-perfil {
        top: 7vh;
    }
    

    /*Botones INICIAR SESIÓN/REGISTRARSE*/
    .main-menu_item button {
        color: white;
        padding: 1vw 1.25vw;
        border-radius: 10vw;
        height: 5vh;
        background-color:#606959;
    }

    .main-menu_item button:hover{
        text-decoration: none;
        background-color:  #4D5447;
    } 



    /* Dropdown */
    .dropdown-content {
        position: absolute;
        top: 100%; /* Coloca el dropdown justo debajo del enlace */
        right: 0;
        background-color: #CBDFBD;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        width: 70%; 
        height: auto;
        border-radius: 4px;
        overflow: hidden;
        display: none;
        transform: translateY(-20px);
        transition: display 0.5s ease, transform 0.5s ;
    }
    
    /* Mostrar Dropdown */
    .dropdown-content.show {
        display: block;
        transform: translateY(0);
    }

   #dropdown-menu-perfil {
        width: 80%;
    }

    .dropdown-icon-left{
        display: none;
    }


    /* Estilo de los enlaces dentro del dropdown */
    .dropdown-content a {
        display: block;
        font-size: 1.75vh;
        padding: 10px;
        text-decoration: none;
        color: black;
        text-align: left;
        transition: all 0.3s ease;
    }
    
    .dropdown-content a:hover {
        color: white;
        text-decoration: none;
        background-color: #606959;
    }   
}

@media screen and (min-width: 1080px) {
    .main-menu_link{
        font-size: 1.1vw;
    }

}


/*BOTONES*/
/* contenedor global de los main buttons para que se centren*/
.button-container{
    display: flex;
    justify-content: center;
}

/*botones principales*/
.main-button {
    background-color: #606959;
    font-size: 2vh;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 2vh 5vw;
    border-radius: 10vw;
    margin: 5vh 0 7vh 0;
}

.main-button:hover {
    background-color: #4D5447;
    opacity: 0.8;
}

/* contenedor de los botones para limpiar el formulario y cerrar los popups*/
.otherbtn{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.closebtn{
    width: 1.5vw; 
    height: auto;
}

.cleanbtn{
    width: 2vw; 
    height: auto;
}
/*botones de cerrar y limpiar formularios*/
.cleanbtn, .closebtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 1.5vh;
}

.cleanbtn:hover, .closebtn:hover {
    opacity: 0.8;
}



/*FORMULARIOS*/
input[type=text], input[type=password], input[type=email], input[type=number], #genero, #edit-genero {
    width: 100%;
    padding: 2vh;
    margin: 1vh 0 3vh 0;
    display: inline-block;
    border: 1px solid #99A88E;
    box-sizing: border-box;
    font-size: 1.5vh;
  }

/*contenedor de los formularios*/
.container {
    padding: 2vw;
}

/*CONTENENDORES GLOBALES DE LOS POPUPS*/
.modal-content {
    background-color: #E5EFDE;
    margin: 5% auto 15% auto;
    width: 30%;
    border-radius: 2vw;
}

/*w3 schools*/
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}


/*POPUP DEL REGISTRO*/
#register-form {
    position: relative; /*esto es para que los botones de cancelar y limpiar formularios se queden en las esquinas de los popups*/
}

.register-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    backdrop-filter: blur(5px);
    padding-top: 60px;
}

/*los mensajes de error interactivos*/
.error {
    font-family: 'CareAround', Verdana;
    color: #BC4749;
    font-size: 1vw;
    margin-top: 0.5vh;
    display: none; 
}

.errorimg{
    width: 1vw;
    height: auto;
    margin-right: 1vw;
    display: flex;
    align-self: center;
}


/*POPUP DEL LOGIN*/
#login-form{
    position: relative;
}

.login-popup {
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    backdrop-filter: blur(5px);
    padding-top: 60px;
}

.forg-reg{
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
}

.forg-reg a{
    font-family: 'cookies', Verdana;
    color: #4D5447;
    font-size: 1.5vh;
    text-decoration: none;

}

/*POPUPS RESPONSIVE*/
/*TABLET*/
/*MOVIL*/
@media screen and (max-width: 480px) {
    .modal-content {
        width: 80%;
    }

    .username{
        padding: 0 4vw;
    }

    .password{
        padding: 0 4vw;
    }

    .password2{
        padding: 0 4vw;
    }

    .email{
        padding: 0 4vw;
    }
    
    .forg-reg a{
        padding: 0 4vw;
        font-size: 1.5vh;
    }

    input[type=text], input[type=password], input[type=email], input[type=number], #genero, #edit-genero {
        padding: 2vh;
        margin: 1vh 0 3vh 0;
        font-size: 2vh;
    }

    .error {
        font-size: 2vh;
        margin-top: 0.5vh;
    }

    .errorimg{
        width: 2vh;
        height: auto;
    }

    .closebtn{
        width: 4vw; 
        height: auto;
    }
    
    .cleanbtn{
        width: 4.5vw; 
        height: auto;
    }

    h4{
        font-size: 5vh;
    }
    
}
#home{
    height: 100vh;
    width: auto;
    background-color: #F2F7EF;
    background-image: url(../images/portada.svg);
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;

}

.home-text{
    font-family: 'Spiny Lobster', Verdana;
    font-size: 3vw;
    color: #BC4749;
    text-align: center;
    padding-top: 10vh;
}

.home-text p{
    font-family: Verdana;
    font-size: 1.5vw;
    color: black;
    text-align: center;

}

#countdown{
    font-family: 'Cookies', Verdana;
    font-size: 2vw;
    color: #BC4749;
    text-align: center;
}

@media  screen and (max-width: 480px) {
    #home{
        background-image: url(../images/portadaMOV.svg);
        background-position: bottom;
    }
    .home-text{
        font-size: 5vw;
    }

    .home-text p{
        font-size: 3vw;
    }

    #countdown{
        font-size: 4vw;
    }
    
}