body {
    font-family: Verdana;
    margin: 0;
    padding: 0;
    color: black;
}

* {
    box-sizing: border-box;
}
nav {
    top: 0;
    margin: 0;
    padding: 0;
}

/*fuentes*/
@font-face {
    font-family: 'Spiny Lobster';
    src: url(../fonts/SpinyLobster.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cookies';
    src: url(../fonts/Cookies\ Magis.otf);
    font-weight: normal;
    font-style: normal;
}


/*navegador principal*/
.main-menu {
    padding-top: 0;
    margin-top: 0;
    padding: 1vh 0;
    width: auto;
    height: auto;
    background-color: #CBDFBD;
    display: flex; 
    justify-content: space-between; /* para la derecha*/
    align-items: center;
    list-style-type: none;
    flex-direction: row;
}

.main-menu_item {
    margin: 0.5vw 0;
    float: left;
    display: flex;
    padding-right: 3vw;
    padding-left: 2vw;
    align-items: center;
    height: 5vh; /*que vaya variando la height y eso*/
    transition: all 0.3s ease; /* transición */                
}

.casa{
    width: 2vw;
    height: auto;
}

.main-menu_link {
    font-family: 'Spiny Lobster', Verdana;
    display: flex;
    font-size: 1.1vw;
    color: #737E6B;
    background-color: transparent;
    align-items: center;        
    justify-content: center;        
    transition: all 0.3s ease;
}

#juega{
    background-color: white;
    background-image: url(../images/fondoJuego.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

/*contenedor de seccion que engloba todos los juegos*/
.games{
    display: flex;
    justify-content: flex-start; 
    
}

/*columna de los botones de los juegos*/
.columna1{
    height: 100%;
    width: 40%;
    flex-direction: column; 
    display: flex;
    justify-content: center;
    margin: 0;
    margin-left: 5vw;
    padding: 10% 2%;
    align-items: center;
}

.columna2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

/*un poco de decoracion de la lista global de juegos*/
.columna1 ul {
    list-style-type: none;
    margin: 0.2vw;
    padding: 0;
    
}

/*estilo de cada uno de los links de los juegos*/
.columna1 li button{
    font-family: 'cookies', Verdana;
    font-style: bold;
    font-size: 2vw;
    width: 100%;    
    background-color: #Bf3f34;
    padding: 3vh 5vw;
    margin: 1vh 0;
    border-radius: 20px;
    list-style: none;
}

.columna1 li button:hover{
    background-color: #A23F34;
    color: white;
}

/*estilo de los selectores de juegos*/
.game-selec{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
}

/*columna de las imagenes de los juegos*/
.columna2{
    display: flex;
    align-items: center;  
    justify-content: center;
}

/*para que salga la imagen del juego que queremos*/
.img-juego{   
    display: none; /*por ahora no sale porque no hemos pulsado el link*/
}


/*RESPONSIVE*/
/*TABLET*/

/*MOVIL*/
@media screen and (max-width: 850px){
    .games{
        display: flex;
        flex-direction: column; /*que se organice en columnas*/
        align-items: center;
    }

    .columna1{
        height: auto;
        padding: 0;
        margin:0;
    }

    .columna2{
        height: auto;
        display: flex;
        align-items: center;  
        justify-content: center;
        margin-top: 10vh;
        z-index: 200;
    }

    .columna1 li {
        font-size: 5vw;
        text-align: center;
        width: 100%;
    }

    .columna1 li button{
        font-size: 5vw;
        width: 100%;
        padding: 2vh 10vw;
    }

    .columna1 ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/*MOVIL*/
@media screen and (max-width: 480px){
    .columna2{
        height: 50vh;
        padding: 0 5vw;
    }
}


#juega h1{
    font-family: 'Cookies', Verdana;
    font-size: 6vh;
    margin: 0;
    padding: 0;
}
/* Juego 1 */
/* Contenedor principal del juego */
.contenedor-juego1 {
    color: rgb(15, 54, 33);
    width: 667px; 
    height: 667px;
    position: relative; /* relativa para que los elementos hijos absolutos se posicionen dentro de este contenedor */
    text-align: center;
    display: flex;
}

/* Tablero de juego */
#gameBoard {
    position: absolute;  /* Posición absoluta para que cubra todo el contenedor */
    top: 0; 
    left: 0; 
    width: 100%;  
    height: 100%; 
    
    z-index: 1; /* más bajo para que quede detrás del texto */
    border-radius: 5px;
    overflow: hidden;

    /* Ajuste de la imagen */
    background-image: url(../images/juego1-foto.svg);
    background-position: center;
    background-repeat: no-repeat;
}

/*TEXTOS*/
.copos-atrapados {
    font-family: 'Cookies', Verdana;
    position: absolute;
    top: 2vh;  
    left: 1vw; 
    z-index: 2; 
    color: rgb(15, 54, 33); 
    font-size: 2vh; 
}

.tiempo-restante {
    font-family: 'Cookies', Verdana;
    position: absolute;
    top: 2dvh;  
    right: 1vw; 
    z-index: 2; 
    color: rgb(15, 54, 33); 
    font-size: 2vh; 
}

/* circulo en el juego (copo de nieve)*/
#circle {
    position: absolute;
    width: 12%;
    height: 12%;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100;
    
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    /* Animación de rotación */
    animation: rotateSnowflake 50s linear infinite; /* Gira continuamente */
}


/* Definición de la animación de rotación */
@keyframes rotateSnowflake {
    from {
        transform: rotate(0deg); /* Inicia sin rotación */
    }
    to {
        transform: rotate(360deg); /* Gira completamente en 360 grados */
    }
}

/* Pantalla de inicio */
.pantalla-inicio {
    background-color: #bfd9d1;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10; 
}

.pantalla-final {
    background-color: #bfd9d1;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

/* Botón de empezar */
.btnEmpezar {
    background-color: #ffffff;
    color: rgb(15, 54, 33);
    border: none;
    padding: 1vh 2vw;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.btnEmpezar:hover {
    background-color: #606D69;
    color: white;
}

/*RESPONSIVE*/
/*TABLET Y MOVIL*/
@media screen and (max-width: 500px) {
    .contenedor-juego1 {
        overflow: visible; /* Asegúrate de que sea visible para evitar recortes de contenido */
        width: 80%;
        height: 80%;
    }

    #gameBoard {
        background-size: cover;
    }
    .copos-atrapados {
        font-size: 12px;
    }

    .tiempo-restante {
        font-size: 12px;
    }

    .btnEmpezar {
        padding: 10px 20px;
        font-size: 14px;
    }

    .pantalla-inicio {
        padding: 10vw;
    }

    .pantalla-final {
        padding: 10vw;
    }

    #juego1, #juego2, #juego3 {
        z-index: 20; /* Asegúrate de que sea más alto que cualquier otro elemento superpuesto */
    }
}

/** Juego 2 */
.contenedor-juego2 {
    /* LO AZUL */
      color: rgb(15, 54, 33);
      width: 667px; 
      height: 667px; 
      position: relative; /* relativa como antes, para los hijos absolutos */
  }

.game-board2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1vw;
    margin-bottom: 20px;
}

.card {
    width: 150px;
    height: 150px;
    perspective: 1000px;
    cursor: pointer;
}

.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s; /*transicion para que gire*/
    transform-style: preserve-3d; /*para que se vea 3D tope guapo*/
    position: relative;
}

.card.flipped .card-inner {
    transform: rotateY(180deg); /*que haga el movimiento de girarse*/
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.card-front {
    background-color: #BFD9D1;
}

.card-back {
    background-color: #EFF6F4;
    transform: rotateY(180deg); /*para que se vea la parte de atras*/
    padding: 3vh;
}

#timeDisplay{
    font-family: 'Cookies', Verdana;
    color: black;
    font-size: 2vh;
    position: absolute;
    bottom: 2vh;
    right: 1vw;
    z-index: 200;
}
/*RESPONSIVE*/
/*TABLET Y MOVIL*/
@media screen and (max-width: 500px) {
    .contenedor-juego2 {
        display: block;
        width: 80%;
        height: 80%;
    }

    #juega h1{
        font-size: 4vh;
    }

    .game-board2 {
        grid-template-columns: repeat(4, 1fr);
    }

    .card {
        width: 65px;
        height: 65px;
    }

    .card-back {
        padding: 2vh;
    }
}