body {
    font-family: Verdana;
    margin: 0;
    padding: 0;
    font-size: 2vh;
    background-color: white;
    color: black;
}


* {
    box-sizing: border-box;
}

nav {
    top: 0;
    margin: 0;
    padding: 0;
}

/* Fuentes */
@font-face {
    font-family: 'Spiny Lobster';
    src: url(../fonts/SpinyLobster.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cookies';
    src: url(../fonts/Cookies\ Magis.otf);
    font-weight: normal;
    font-style: normal;
}

/* Navegador principal */
.main-menu {
    padding-top: 0;
    margin-top: 0;
    padding: 1vh 0;
    width: auto;
    height: auto;
    background-color: #CBDFBD;
    display: flex; 
    justify-content: space-between; /* para la derecha*/
    align-items: center;
    list-style-type: none;
    flex-direction: row;
}

.main-menu_item {
    margin: 0.5vw 0;
    float: left;
    display: flex;
    padding-right: 3vw;
    padding-left: 2vw;
    align-items: center;
    height: 5vh; /*que vaya variando la height y eso*/
    transition: all 0.3s ease; /* transición */                
}

.casa {
    width: 2vw;
    height: auto;
}

.main-menu_link {
    font-family: 'Spiny Lobster', Verdana;
    display: flex;
    font-size: 1.1vw;
    color: #737E6B;
    background-color: transparent;
    align-items: center;        
    justify-content: center;        
    transition: all 0.3s ease;
}

/*MAIN MENU RESPONSIVE*/
/*TABLET*/
@media screen and (max-width: 900px) {
    .main-menu_link {
        font-size: 2vw;
        padding: 0 1vw;
    }
    .casa {
        width: 3vw;
    }
}

/*MOVIL*/
@media screen and (max-width: 500px) {
    .main-menu_link {
        font-size: 4vw;
        padding: 0 1vw;
    }
    .casa {
        width: 5vw;
    }
}

/* Flecha para ir hacia atrás */
.flecha {
    position: absolute;
    top: 11vh;
    left: 2vw; 
    cursor: pointer;
    z-index: 10; 
}

.flecha img {
    width: 2vw;
    height: auto;
    transition: transform 0.2s ease-in-out;
}

.flecha img:hover {
    transform: scale(1.1);
}


/* Contenedor principal */
.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 7vw;
    margin-top: 2vh;
    margin-bottom: 5vh;
}

/* Contenedor de canciones */
.contenedor-canciones {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 3vw;
    width: 45%;
}

.cancion img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.cancion img:hover {
    transform: scale(1.05); 
}

/* Contenedor del personaje */
.contenedor-personaje {
    width: 40%;
    height: auto;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-right: 3vw;
}

/* Imagen dentro del contenedor */
.contenedor-personaje img {
    width: 100%;
    max-width: 100%; 
    height: auto; 
}

.contenedor-video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85vh; 
}

#karaoke-video {
    width: 100%;
    height: 100%;
    max-width: 640px; 
    max-height: 360px; 
    object-fit: cover;
    display: block; 
    border: none; 
}



/*RESPONSIVE*/
/*TABLET*/
@media screen and (max-width: 850px){
    /* Contenedor principal */
    .contenedor {
        flex-direction: column; 
        padding: 2vh 5vw;
        justify-content: center;
        align-items: center;
        height: 90vh;
        display: flex;
        flex-wrap: wrap; 
        overflow: hidden; 
    }
    .contenedor-canciones {
        width: 100%; 
        max-width: 100%; 
        gap: 3vw; 
        padding: 5vw;
    }
    .contenedor-personaje {
        display: none;
    }
    /* Contenedor de canciones */
    .contenedor-canciones {
        width: 80%; 
        gap: 15px; 
    }
    .flecha {
        top: 10vh;
        left: 2vw; 
    }
    .flecha img {
        width: 8vw; 
        max-width: 40px;
    }
    }


/*MOVIL*/
@media screen and (max-width: 500px) {
    /* Contenedor de canciones */
    .contenedor-canciones {
        width: 100%;
        gap: 3vh; 
    }
}