body {
    font-family: Verdana;
    margin: 0;
    padding: 0;
    font-size: 2vh;
    background-color: white;
    color: black;
    background-color: #F2F7EF;
}


* {
    box-sizing: border-box;
}
nav {
    top: 0;
    margin: 0;
    padding: 0;
}

/*fuentes*/
@font-face {
    font-family: 'Spiny Lobster';
    src: url(../fonts/SpinyLobster.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cookies';
    src: url(../fonts/Cookies\ Magis.otf);
    font-weight: normal;
    font-style: normal;
}


/*navegador principal*/
.main-menu {
    padding-top: 0;
    margin-top: 0;
    padding: 1vh 0;
    width: auto;
    height: auto;
    background-color: #CBDFBD;
    display: flex; 
    justify-content: space-between; /* para la derecha*/
    align-items: center;
    list-style-type: none;
    flex-direction: row;
}

.main-menu_item {
    margin: 0.5vw 0;
    float: left;
    display: flex;
    padding-right: 3vw;
    padding-left: 2vw;
    align-items: center;
    height: 5vh; /*que vaya variando la height y eso*/
    transition: all 0.3s ease; /* transición */                
}

.casa{
    width: 2vw;
    height: auto;
}

.main-menu_link {
    font-family: 'Spiny Lobster', Verdana;
    display: flex;
    font-size: 1.1vw;
    color: #737E6B;
    background-color: transparent;
    align-items: center;        
    justify-content: center;        
    transition: all 0.3s ease;
}

.global {
    width: 100%;
    height: 80vh;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.intro {
    max-width: 30%;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
}
.intro p {
    font-size: 2.5rem;
    margin-bottom: 5%;
}

/* Estilo del botón */
.intro button {
    width: 25%;
    background-color: #61875f;
    color: white;
    border: none;
    border-radius: 0.75rem;
    padding: 1.5% 2.5%;
    font-size: 1.5rem;
    font-family: Verdana, sans-serif;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.intro button:hover {
    background-color: #5e966a;
    transform: scale(1.05);
}

.intro button:active {
    transform: scale(0.95); /* Ligeramente más pequeño */
}

/* Pantalla de inicio */
.pantalla_inicio {
    width: 40%;
    height: 60vh;
    margin-right: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../images/localiza.svg');
    background-size: 90%;
    background-position: center;
    border-radius: 15px;
    background-repeat: no-repeat;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* Pop up localiza */

/* Fondo opaco para el pop-up */
.popup-localiza {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con opacidad */
    display: none; /* Inicialmente oculto */
    justify-content: center;
    align-items: center;
    z-index: 100;
}

/* Contenido del pop-up */
.contenido {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra alrededor */
    width: 70%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Imagen dentro del pop-up */
.contenido img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


/* PAPA NOEL MAPA */
#trineo {
    position: absolute;
    width: 10%;
    height: auto;
}
