body {
    font-family: Verdana;
    margin: 0;
    padding: 0;
    font-size: 2vh;
    background-color: white;
    color: black;
}



button {
    font-family: 'cookies', Verdana;
    background-color: transparent; /* fondo transparente */
    border: transparent; /* borde transparente */
    cursor: pointer; /* para que se ponga el cursor de ratón encima de los botones */
    background-color: transparent;
    color: white;
}

* {
    box-sizing: border-box;
}


nav {
    top: 0;
    margin: 0;
    padding: 0;
}

/*fuentes*/
@font-face {
    font-family: 'Spiny Lobster';
    src: url(../fonts/SpinyLobster.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cookies';
    src: url(../fonts/Cookies\ Magis.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CareAround';
    src: url(../fonts/CareAround.otf);
    font-weight: normal;
    font-style: normal;
}



/*navegador principal*/
.main-menu {
    padding-top: 0;
    margin-top: 0;
    padding: 1vh 0;
    width: auto;
    height: auto;
    background-color: #CBDFBD;
    display: flex; 
    justify-content: space-between; /* para la derecha*/
    align-items: center;
    list-style-type: none;
    flex-direction: row;
}

.main-menu_item {
    margin: 0.5vw 0;
    float: left;
    display: flex;
    padding-right: 3vw;
    padding-left: 2vw;
    align-items: center;
    height: 5vh; /*que vaya variando la height y eso*/
    transition: all 0.3s ease; /* transición */                
}

.casa{
    width: 2vw;
    height: auto;
}

.main-menu_link {
    font-family: 'Spiny Lobster', Verdana;
    display: flex;
    font-size: 1.1vw;
    color: #737E6B;
    background-color: transparent;
    align-items: center;        
    justify-content: center;        
    transition: all 0.3s ease;
}

/*MAIN MENU RESPONSIVE*/
/*TABLET*/
@media screen and (max-width: 900px) {
    .main-menu_link {
        font-size: 2vw;
        padding: 0 1vw;
    }
    .casa {
        width: 3vw;
    }
}

/*MOVIL*/
@media screen and (max-width: 500px) {
    .main-menu_link {
        font-size: 4vw;
        padding: 0 1vw;
    }
    .casa {
        width: 5vw;
    }
}

/*MI PERFIL*/
#perfil{
    background-color: #F2F7EF;
    margin-bottom: 10vh;
}

.perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh 5vw;
}

.imgcontainer {
    position: relative;
    display: inline-block;
    margin: 0 10vw;  

}

/*foto del usuario*/
.foto-usuario{
    width: 25vw;
    height: 25vw;
    border-radius: 100%;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

h2{
    font-family: 'Spiny Lobster', Verdana;
    font-size: 5vh;
    margin: 0 0 2vh 0;
    display: flex;
    justify-content: center;
}

.forms{
    font-family: 'Cookies', Verdana;
    font-size: 2vh;
}

/*el input del perfil pa editar*/
input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 2vh;
    margin: 1vh 0 3vh 0;
    display: inline-block;
    border: 1px solid #bfd9d1;
    box-sizing: border-box;
    font-size: 1.5vh;
}

.formulario{
width: 50vw;
margin-right: 10vw;
}


/*SUBIR FOTO Y ELIMINAR FOTO*/
.profile-edit-btn{
    width: 2vw;
    height: auto;
}

#profile-dropdown-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.profile-dropdown-menu {
    position: absolute;
    top: 2vw; 
    right: 0;
    background-color: #CBDFBD; 
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow: hidden;
}


.profile-dropdown-menu button {
    display: block;
    width: 100%;
    padding: 10px;
    color: blacK;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    transition: all 0.3s ease;
}

.profile-dropdown-menu button:hover {
    background-color: #99A88E;
    color: white;
}

/*botones principales*/
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-button {
    font-family: 'Cookies', Verdana;
    background-color: #606959;
    font-size: 2vh;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh 5vw;
    border-radius: 10vw;
    margin: 5vh 0 7vh 0;
}

.main-button:hover {
    opacity: 0.8;
}

/*RESPONSIVE PERFIL*/
/*TABLET*/
@media screen and (max-width: 800px) {
    h2{
        font-size: 6vh;
        margin-bottom: 5vh;
    }
    .foto-usuario{
        width: 30vw;
        height: 30vw;
        border-radius: 100%;
        margin-top: 10vh
    }

    .profile-edit-btn{
        margin-top: 10vh;
        width: 4vh;
    }

    .profile-dropdown-menu {
        top: 10vw; 
    }
    
    
    .profile-dropdown-menu button {
        font-size: 1.5vh;
    }
    
    /*el input del perfil pa editar*/
    input[type=text], input[type=password], input[type=email] {
        width: 100%;
        padding: 1.5vh;
    }

    .forms{
        font-size: 2vw;
    }

    .formulario{
    width: 30vw;
    margin-right: 10vw;
    margin-left: 10vw;
    }

}

/*MOVIL*/
@media screen and (max-width: 480px) {
    h2{
        font-size: 5vh;
    }
    .perfil{
        padding: 4vh;
    }

    .container{
        flex-direction: column;
    }

    .foto-usuario{
        margin-top: 0;
        margin-bottom: 5vh;
    }

    .profile-edit-btn{
        margin-top: 0;
        width: 4vw;
    }

    .profile-dropdown-menu {
        top: 5vw; 
    }

    .formulario{
        width: 35vw;
        margin-right: 10vw;
        margin-left: 10vw;
    }

    .forms{
        font-size: 2vh;
    }
}


/*PARA LOS REGALITOS*/
.regalos-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4vw;
    justify-content: center;
    padding: 10vh;
}

.regalos-container p{
    font-family: Verdana;
    font-size: 2vh;
    margin: 2vh 0;
    grid-column: 3;
    justify-items: center;
    display: inline-grid;
    align-items: center;
}

.regalo {
    border: 2px solid #99A88E;
    border-radius: 2vw;
    padding: 2vh;
    text-align: center;
    width: 15vw;
    background-color: #F2F7EF;
}

.regalo-img {
    max-width: 12vw;
    max-height: 20vh;
    margin-bottom: 2vh;
    padding: 0 0.5vw;
}

.regalo-dia{
    font-family: 'CareAround', Verdana;
    font-size: 4vh;
    margin: 1vw 0.5vw;
}

.regalo-nombre {
    font-family: 'Spiny Lobster', Verdana;
    font-size: 2vh;
    margin: 1vw 0 0.5vw;
}

.regalo-descripcion {
    font-size: 0.9em;
    color: #555;
}

/*REGALOS RESPONSIVE*/
/*TABLET*/
@media screen and (max-width: 800px) {
    .regalos-container{
        grid-template-columns: repeat(4, 1fr);
        padding: 10vh;
    }

    .regalo{
        width: 20vw;
    }
    .regalos-container p{
        font-size: 1.5vh;
    }
    
    .regalo-img{
        max-width: 10vw;
        max-height: 15vh
    }
}

/*MOVIL*/
@media screen and (max-width: 480px) {
    .regalos-container{
        grid-template-columns: repeat(3, 1fr);
        padding: 10vh;
    }

    .regalos-container p{
        font-size: 1.5vh;
    }

    .regalo{
        width: 25vw;
    }
    
    .regalo-img{
        max-width: 18vw;
        max-height: 20vh
    }
}


/*MIS ELFOS*/

.elfo-borrar{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.borrar{
    width: 2vw;
}


#elfos-section {
    padding: 5vw;
    background-color: #F2F7EF;
}


#elfos-container{
    margin: 10vh 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5vw;
    justify-content: center;
    align-items: center;
}

#elfos-container p{
    font-family: Verdana;
    font-size: 2.5vh;
    grid-column: 2;
    justify-items: center;
    display: inline-grid;
    align-items: center;
}

.elfo{
    margin-right: 0;
}

h3{
    padding-top: 2vh;;
}

.elfo-guardado{
    display: flex;
    flex-direction: column;
    width: 20vw;
    justify-content: center;
    align-items: center;
    position: relative;
}


h4{
    font-family: 'CareAround', Verdana;
    font-size: 4vh;
    margin: 2vh 0;
    padding-right: 2vw;
}

/*MIS ELFOS RESPONSIVE*/
/*TABLET*/
@media screen and (max-width: 800px) {
    #elfos-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .elfo-guardado{
        width: 40vw
    }

    .elfo-borrar{
        top: -3vh;
        right: 0;
    }

    .borrar{
        width: 3vw;
    }
    
    h4{
        padding-right: 0;
    }
    
    
    
}
/*MOVIL*/
@media screen and (max-width: 480px) {
    #elfos-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .elfo-guardado{
        width: 100vw
    }

    .elfo-borrar{
        top: -3vh;
        right: 25vw;
    }

    .borrar{
        width: 5vw;
    }
    
}
