body {
    font-family: Verdana;
    margin: 0;
    padding: 0;
    font-size: 2vh;
    background-color: white;
    color: black;
}


* {
    box-sizing: border-box;
}

/*fuentes*/
@font-face {
    font-family: 'Spiny Lobster';
    src: url(../fonts/SpinyLobster.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cookies';
    src: url(../fonts/Cookies\ Magis.otf);
    font-weight: normal;
    font-style: normal;
}

/*navegador principal*/
.main-menu {
    padding-top: 0;
    margin-top: 0;
    padding: 1vh 0;
    width: auto;
    height: auto;
    background-color: #CBDFBD;
    display: flex; 
    justify-content: space-between; /* para la derecha*/
    align-items: center;
    list-style-type: none;
    flex-direction: row;
}

.main-menu_item {
    margin: 0.5vw 0;
    float: left;
    display: flex;
    padding-right: 3vw;
    padding-left: 2vw;
    align-items: center;
    height: 5vh; /*que vaya variando la height y eso*/
    transition: all 0.3s ease; /* transición */                
}

.casa{
    width: 2vw;
    height: auto;
}

.main-menu_link {
    font-family: 'Spiny Lobster', Verdana;
    display: flex;
    font-size: 1.1vw;
    color: #737E6B;
    background-color: transparent;
    align-items: center;        
    justify-content: center;        
    transition: all 0.3s ease;
}
 
/*MAIN MENU RESPONSIVE*/
/*TABLET*/
@media screen and (max-width: 900px) {
    .main-menu_link {
        font-size: 2vw;
        padding: 0 1vw;
    }
    .casa {
        width: 3vw;
    }
}

/*MOVIL*/
@media screen and (max-width: 500px) {
    .main-menu_link {
        font-size: 4vw;
        padding: 0 1vw;
    }
    .casa {
        width: 5vw;
    }
}


/*PAPA NOEL*/
#papaNoel{
    background-color: #E5EFDE;
}

/*DESKTOP*/
#historia {
    background-color: #E5EFDE;

}

/*contenedor que engloba la parte de la imagen y la foto*/
.outer-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px 10px 10px 10px;
    gap: 20px;
    text-align: center;
    max-width: 100%;

}

/*columna de la imagen de papa noel*/
.column1 {
    display: flex;              
    justify-content: center;    
    align-items: center; 
    padding: 0 10px;
    padding-left: 4vw;
    padding-bottom: 10vh;
}

.column1 img {
    width: auto;
    height: 25vw;
    border-radius: 10px;
}

/*columna para el texto de papa noel*/
.column2 {
    padding-left: 10vw;
    font-size: 1.5vw;
    padding-bottom: 10vh;
    
}

.column2 p{
    text-align: justify; /*justifica texto*/
}


h3{
    font-family: 'Spiny Lobster', Verdana;
    color: black; 
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*esto es para el arbol que sale de decoración en la parte del movil*/
.arbol img{
    display: none; /*por ahora no queremos que se despliegue*/
}

/*GALERIA DE FOTOS*/
.galeria {
    position: relative;
    width: 100%;
    max-width: 100vh;
    margin: 10vh auto 20vh auto;
    border-radius: 50px;
    height: 70vh;
}

#galeria {
    background-color: #FFFFFF;
    padding: 10px 10px 10px 10px;
    margin-bottom: 5vh;
}

#titulo-galeria {
    text-align: center;
    margin-bottom: 10vh;
}

.galeria .galeria-prev,
.galeria .galeria-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.galeria .galeria-prev:hover,
.galeria .galeria-next:hover {
    opacity: 1;
}

.galeria .galeria-prev {
    left: -80px; 
}

.galeria .galeria-prev::before {
    content: '🡨';
    font-size: 50px;
    font-weight: bolder;
}

.galeria .galeria-next {
    right: -70px; 
}

.galeria .galeria-next::before {
    content: '🡪';
    font-size: 50px;
    font-weight: bolder;
}

.galeria > ul{
    list-style: none;
    position: relative;
    width: 754px;
    height: 400px;
    margin: 0;
    padding:0;
}

.galeria > ul > li {
    overflow: hidden;
    position: absolute;
    z-index: 0;
    left: 377px;
    top: 147px;
    width: 0;
    height: 0;
    margin:0;
    padding:0;
    cursor: pointer;
    background-color: white;
    transition: transform 0.3s ease;
}

.galeria > ul > li:hover {
    transform: scale(1.1);
}

.galeria > ul > li > img {
    width: 100%;
    height: 100%;
    background-position: center;
    object-fit: cover;
}

/*responsive*/
/*TABLET*/
@media screen and (max-width: 900px){
    #PapaNoel{
        background-image: none;
        background-color: #dfece8;
    } 

    .galeria {
        width: 100%; /* Ajusta el tamaño según sea necesario */
        height: auto;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .galeria ul {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .galeria li {
        width: 100%;
        margin: 0 5px;
    }

    .galeria img {
        width: 100%; 
        height: auto;
    }

    .galeria .galeria-prev {
        margin-top: 10vh;
        top: 160px;
        z-index: 10;
    }
    
    .galeria .galeria-next {
        margin-top: 10vh;
        top: 160px;
        z-index: 10;
    }
}

/*MOVIL*/
@media screen and (max-width: 500px) {

    /*se hace solo una columna*/
    .outer-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 20px 0;
        gap: 20px;
    }
    
    /*columna de la imagen de papa noel no se ve que queda muy cargado*/
    .column1 {
        display: none;
    }

    /*decoracion de arbolito que queda bonita en movil, ahora si queremos que se despliegue*/
    .arbol img {
        display: inline; /*para que se ponga en linea con el sabias que*/
        width: 15vw; 
        height: auto; 
        vertical-align: middle; /* alinea la imagen verticalmente con el texto */
        margin-left: 5vw; /* espacio entre el texto y la imagen */
    }
    
    /*para ajustarlo con el arbolito mono*/
    .sabias {
        display: inline;
    }
    
    /*columna sobre el texto de papa noel*/
    .column2 {
        font-size: 3.5vw;
        padding: 0 10vw;
        padding-bottom: 10vh;
    }

    #galeria {
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .galeria {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #titulo-galeria {
        font-size: 6vw;
        margin-top: -60px;
        margin-bottom: 40px;
    }

    .galeria ul {
        flex-direction: column;
    }
    .galeria li {
        position: relative;
        margin: 10px 0;
    }
    .galeria img {
        width: 100%;
        height: auto;
    }
    .galeria .galeria-prev,
    .galeria .galeria-next {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 16px;
    }

    .galeria .galeria-prev {
        left: 50px;
        top: 80px;
        z-index: 1;
    }

    .galeria .galeria-next {
        right: 50px;
        top: 80px;
        z-index: 1;
    }

    .galeria .galeria-prev::before {
        content: '🡫';
    }
    .galeria .galeria-next::before {
        content: '🡩';
        font-size: 50px;
        font-weight: bolder;
    }
    
}